<div class="container border mt-5">
  <div class="row">
    <div class="col-6 text-center border py-2 px-4"></div>
    <div class="col-2 text-center border py-2 px-4 theme-text">Beginner</div>
    <div class="col-2 text-center border py-2 px-4 theme-text">Professional</div>
    <div class="col-2 text-center border py-2 px-4 theme-text">Primium</div>
  </div>
  <div class="row">
    <div class="col-6 theme-text border py-2 px-4 fw-bold fs-5">Plan</div>
    <div class="col-2 text-center border py-2 px-4 fw-bold fs-5">Rs. 9999/-</div>
    <div class="col-2 text-center border py-2 px-4 fw-bold fs-5">Rs. 15k - 20k</div>
    <div class="col-2 text-center border py-2 px-4 fw-bold fs-5">Rs. 45k+</div>
  </div>
  <app-price-table-row service="Professional online presence for your business" beginner="Y" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Works perfectly on mobile, tablet, and desktop" beginner="Y" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Fast loading website" beginner="Y" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Basic contact form for customer enquiries" beginner="Y" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Social media links integration" beginner="Y" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Admin panel to manage website data easily" beginner="N" professional="Y" primium="Y" ></app-price-table-row>
  <app-price-table-row service="Admin panel to manage website data easily" beginner="N" professional="Y" primium="Y" ></app-price-table-row>
</div>
