<div class="container-fluid">
  <div class="header-top d-flex justify-content-between p-2">
    <div class="contact d-flex gap-3">
      <div class="email text-secondary">admin@darchtech.com</div>
      <div>
        <a href="tel:7558307059" class="text-decoration-none theme-text"
          >Call: +91 7558307059 / 919623922545
        </a>
      </div>
    </div>
    <div class="terms d-flex gap-2 align-content-center">
      <a href="#" class="text-secondary">Terms & Condition</a>
      <div class="line border-secondary" style="border: 1px solid; height: 25px"></div>
      <a href="#" class="text-secondary">Contact Us</a>
    </div>
  </div>
  <div class="header-botton row">
    <app-navbar />
  </div>
</div>
