<div class="container py-5">
    <h1 class="fw-bold mb-4 theme-text">
      Let's Discuss Your Project & Digital Growth
    </h1>
  
    <div class="row g-4">
  
      
      <div class="col-md-6 d-flex align-items-start gap-3">
        <div class="icon-circle">
          <i class="bi bi-telephone"></i>
        </div>
        <div>
          <h6 class="mb-1">Call Us</h6>
          <strong>
            9326712247 /<br>
            9326712247
          </strong>
        </div>
      </div>
  
      
      <div class="col-md-6 d-flex align-items-start gap-3">
        <div class="icon-circle">
          <i class="bi bi-envelope"></i>
        </div>
        <div>
          <h6 class="mb-1">Email</h6>
          <strong>sawantaditya@gmail.com</strong>
        </div>
      </div>
  
      
      <div class="col-md-6 d-flex align-items-start gap-3">
        <div class="icon-circle">
          <i class="bi bi-geo-alt"></i>
        </div>
        <div>
          <h6 class="mb-1">Address</h6>
          <strong>
            Rajdhani Complex, Office No. B/317, 3rd Floor,<br>
            Near Shankar Maharaj Math,<br>
            Satara Road, Pune - 411043
          </strong>
        </div>
      </div>
  
      
      <div class="col-md-6 d-flex align-items-start gap-3">
        <div class="icon-circle">
          <i class="bi bi-clock"></i>
        </div>
        <div>
          <h6 class="mb-1">Working Hours</h6>
          <strong>Mon - Sun : 07:00 AM - 9:00 PM</strong>
        </div>
      </div>
  
    </div>
  </div>
  


  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15137.609598845538!2d73.85141980096918!3d18.465423270714542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eabec79e47e9%3A0xb29cd7a59a13bbbf!2sBalaji%20Nagar%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1767852835674!5m2!1sen!2sin" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>